sqlalchemy.org - tutorial

# Establishing database connection

* The Engine  - global object created once for particular database server
* The URL string - how to connect (see connectionstrings.com)

In [7]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL #method to transform connection string into url string
from urllib.parse import unquote

# create connection string in correct format
server_name   = "localhost"
database_name = "everyloop"

connection_string = f"DRIVER=ODBC Driver 17 for SQL Server;SERVER={server_name};DATABASE={database_name};Trusted_Connection=yes"
url_string        = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

print('Connecting to database using URL string:')
unquoted_url = unquote(str(url_string))
print(unquoted_url, '\n')


try:    
    engine = create_engine(url_string) # create engine object
    with engine.connect() as connection: # NOTE with-statement (Python manager form) connection object (is not used here)
        print(f'Successfully connected to {database_name}!')
except Exception as e:
    print('Error while connecting to database:\n')
    print(e)

Connecting to database using URL string:
mssql+pyodbc://?odbc_connect=DRIVER=ODBC+Driver+17+for+SQL+Server;SERVER=localhost;DATABASE=everyloop;Trusted_Connection=yes

Successfully connected to everyloop!

# Query database using raw SQL

text() - Simplest, old

In [11]:
from sqlalchemy import text

query = text("SELECT TOP 5 Id, FirstName, LastName, Email FROM USERS ORDER BY FirstName, LastName") # NOTE text()
type(query)

sqlalchemy.sql.elements.TextClause

## The Result object
connection.execute() SQLAlchemy submits query to te server which responds by sending beack the requested data as Result Object by connecttion.execute(). Best practice to consume this object witing the "connect" block. Below examples on how:

### Execute query and fetch all rows from result

In [12]:
with engine.connect() as conn:
    result = conn.execute(query) # syncron programming (code stops here waiting for responce from server and continues once resp is recieved)

    print(result.fetchall()) # result is a Resul object which has a number of funcions such as fetchall()

# asyncio library for async/await syntax (asyncron programmig)

[('741109-2058', 'Alexander', 'Dahl', 'alexander.dahl@telia.se'), ('530720-7675', 'Alvin', 'Lindholm', 'alvin.lindholm@gmail.com'), ('820624-3075', 'Anders', 'Hansson', 'anders.hansson@hotmail.com'), ('751123-9724', 'Anne', 'Åkerman', 'anne.akerman@hotmail.com'), ('620925-4245', 'Annette', 'Bergfalk', 'annette.bergfalk@telia.se')]

In [13]:
print(type(result))
print(type(result.fetchall()))

<class 'sqlalchemy.engine.cursor.CursorResult'>
<class 'list'>

### Execute query and iterate through result

In [14]:
with engine.connect() as conn:
    result = conn.execute(query)

    for row in result:
        print(f"{row.FirstName} {row.LastName}")

Alexander Dahl
Alvin Lindholm
Anders Hansson
Anne Åkerman
Annette Bergfalk

### Iterate column names and fields

In [18]:
with engine.connect() as conn:
    result = conn.execute(query)

    for col_name in result.keys():
        print(col_name.upper().ljust(20), end='')
    print()

    for row in result:
        for field in row:
            print(field.ljust(20), end='')
        print()

ID                  FIRSTNAME           LASTNAME            EMAIL
741109-2058         Alexander           Dahl                alexander.dahl@telia.se
530720-7675         Alvin               Lindholm            alvin.lindholm@gmail.com
820624-3075         Anders              Hansson             anders.hansson@hotmail.com
751123-9724         Anne                Åkerman             anne.akerman@hotmail.com
620925-4245         Annette             Bergfalk            annette.bergfalk@telia.se

### Create DataFrames from query result

In [20]:
import pandas as pd

df = pd.read_sql_query(query, con=engine, index_col='Id')
df

             FirstName  LastName                       Email
Id
741109-2058  Alexander      Dahl     alexander.dahl@telia.se
530720-7675      Alvin  Lindholm    alvin.lindholm@gmail.com
820624-3075     Anders   Hansson  anders.hansson@hotmail.com
751123-9724       Anne   Åkerman    anne.akerman@hotmail.com
620925-4245    Annette  Bergfalk   annette.bergfalk@telia.se

### Example search application (unsafe implmentation) - SQL injection
Type commands via input window to make changes in databases. For example:
* ';--'                                                                 get all data
* ';drop table users3; --'                                              drop data
* ' and 1=0 union select firstname, lastname, password from users; --'  get data (and 1 = 0 makes sure will get empty result; union own query; -- comments away rest)
* ' and 1=0 union select 1, 2, 3; --'                                   write in own data in database

To avoid:
* limit rights for users who log on
* never allow user input in any part of our queries so no concatination in queries
    * query = "select * from users where username = '" + username_input + "';"
* user data in queries should always be parameterized so recieve SQL statment and user data separately (static statement) 
    * query = "select * from users where username = @username_input"
*

#### Bound parameters in SQLAlchemy - parametirized query
text() allows to bind parameters using the named colon format (:param).
Bound parameter *:first_name* in the query and the pass in the value of the python varable *name* when eqecuting query.
* *T-SQL uses @param, while SQLAlchemy uses :param*

In [30]:
name = "';--"

parameterized_query = text("Select * from Users where FirstName like '%' + :first_name + '%'")  # hard coded query indicating there is a parameter :first_name to be expected

with engine.connect() as conn:
    result = conn.execute(parameterized_query, {"first_name": name}) # defining what :first_name is
    print(result.fetchall())

[]

In [27]:
search_string = input("Search airports: ")

print(f"Search string: {search_string}\n")

# query as f-string
unsafe_query = f"""
select top 10
    IATA, 
    [Airport name] as 'name', 
    [Location served] as 'location' 
from 
    airports 
where 
    [Location served] like '%{search_string}%'"""

# sending request and getting Result object
with engine.connect() as conn:    
    result = conn.execute(text(unsafe_query)) # NOTE text()

    print(f"{'IATA'.ljust(8)}{'Airport name'.ljust(50)}{'Location'}")
    
    for airport in result:
        print(f"{str(airport.IATA).ljust(8)}{str(airport.name).ljust(50)}{airport.location}")

    print(unsafe_query)

Search string: ' and 1=0 union select firstname, lastname, password from users; --'

IATA    Airport name                                      Location
AlexanderDahl                                              425e618ba6834cdff3e5235a648d7a49
Alvin   Lindholm                                          2194506fc6ef7a2048f03a0f4ee7c641
Anders  Hansson                                           f82e0b0c45c7babe84db897066335590
Anne    Åkerman                                           ebf12cb74e96e67e63783d93c534ef27
Annette Bergfalk                                          2c3339f366a420eb04c6b6c21b7746bf
Anton   Ragnvaldsson                                      bd50f363001990ee1fe5d798702b1d5b
Arthur  Björk                                             5b2b2d2bd0cd2c7a7019d2c2a7c6307a
Beata   Möller                                            85267d349a5e647ff0a9edcb5ffd1e02
Bengt   Svenson                                           06af2e43797e629c5a4c7bfe58a105c3
Bjoern  Waltersson                                        7e9a21b78e3723bde67627aa095f98fd
CarolineEngström                                          6a5889bb0190d0211a991f47bb19a777
CatharinaKnutson                                           c5aa65949d20f6b20e1a922c13d974e7
CharlotteSörensen                                          0bc22e1c47f26addd1907b4931e507b1
Ebbe    Westerberg                                        436c26abd464041efd354bc550f76482
Edvin   Alfsson                                           9d4e5ea4418508b6a23445e3089f4898
ElisabethVång                                              ecd058faafa18f55f81d730b142f8fd3
Felicia Bertilsson                                        03cafe742c11ddc94bff251c842b7f67
Felix   Berglund                                          3e016029eeb9a92852a656f33fbf1dc6
Frida   Ericson                                           7a981e17886344fb031e3735a7284b8c
Gunnel  Mikaelsson                                        07c09ba3a403585b6c93f73d03983079
Gustav  Berg                                              bbc595e205a865a6afd9a8584f319f3b
Göran   Patriksson                                        fc14f949c1baf821079b6e2b9b22f553
HenriettaBlomgren                                          0dd81a42714c6fe8bd670804643b458d
Hjördis Wang                                              bb31bb1b1b3b1900fa619d1a7e3ebb92
Jannike Claesson                                          3e53ae683f8e8c84221db763b30fe907
Johanna Lennartsson                                       422cf6c6f212dde0fa96c532de240104
Kaj     Ingesson                                          7a0c99ef914f596a9d745df32a9c84dd
Kettil  Bergfalk                                          90918c5b8c17f80e32d5b155a7bf6197
Kåre    Lundberg                                          e26ebd564a492f55c8ceed4d97c5fedb
Lennart Öman                                              744878fbdd26871c594f57ca61733e09
Malin   Ek                                                0866b954204f6576dcf4c59af968f2eb
Milla   Albertsson                                        3047ee053d45323e65192012176a2a1c
Mona    Solberg                                           c1de2111b16e6b21b794451fe54ef86f
My      Mårdh                                             3587f76616df673c64f36e1d8babc2e7
Peter   Ljungstrand                                       9323f21f2098b7288267c785458548b2
Petter  Möller                                            9ef248df74556f4768271660f5ef5f7b
Rakel   Albertsson                                        df132656c11853d6118fe9d36eaba5e1
Randi   Eriksson                                          5128811422870279d063413608e0bc4b
Sigfrid Hall                                              20bb93fcb37c7ec9be51cf792d5c9609
Sigfrid Petersson                                         1bf3fa859c48493f5f2606ccaaa0f20e
Sigge   Pethrus                                           67b48cc32ab9f04633bd50656a4a26fc
Sigrid  Pettersson                                        0f70d19c41c092696766a57abe1b4266
Solvig  Borg                                              d6cb41a908909feead800375f0e96b04
Svea    Solberg                                           47551f847eb553f2600d124fdfd03730
Truls   Matsson                                           195d221c982e47eb58347e5d06ce3180
Ulla    Alvarsson                                         4fec58181bb416f09f8ef0f69433584f
ValdemarGrahn                                             6c01156a337cb1e4748f3567bdeff63c
Viggo   Sorenson                                          741adf496ee8c2d3e8c864e9567211af
VilhelminaMatsson                                           aa426df08f79c27a95d70a496a69759c
VirginiaLjungman                                          72cd11da65daac3c9e75ee19f93eb0dd

select top 10
    IATA,
    [Airport name] as 'name',
    [Location served] as 'location'
from
    airports
where
    [Location served] like '%' and 1=0 union select firstname, lastname, password from users; --'%'